

:root{
    --color-cuerpo:#333d29;
    --color-encabezado: #54210b;
    --color-textoin:#414833;
    --color-textout:#fc341622;
    --color-piepagina:#b0be83;
    --color-texto:hwb(28 38% 31%);
    --color-hover:#7f4f24;
    --color-varios:#a4ac86;
    --color-boton:#b6ad90;
}

* {
    background-color: var(--color-cuerpo);
    padding:0;
    margin: 0;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height:140%;
    }

::placeholder{
        color:#011124;
}

button:hover {
    background-color: var(--color-boton);
}

body{
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    gap: 70%;
    background-color: var(--color-encabezado);
    padding:0.5% 0% 0.5% 0.5%;
}

.logo--alura {
    height: 2.3rem;
    width: 5rem;
    padding: 0.5rem ;
    background-color:transparent;
}

.logo--encrip{
    height: 4rem;
}   

.principal{
    height: 25rem;

 }

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.textos{
    display:flex;
    gap:7rem;
    Justify-Content:left;
    margin-bottom:1rem;
    margin-left:5rem;
}

.texto-ingreso{

    border:none;
    border-radius:2%;
    background-color: var(--color-textoin);
    color:#020d1b;
    text-transform:lowercase;


}

.texto-ingreso:focus{
    outline:none;
}

.texto-encriptado{
    border:none;
    border-radius:2%;
    background-color: var(--color-textout);
    background-image: url("assets/imagenBuscar.png");
    background-repeat: no-repeat;



}
.texto-encriptado:focus{
    outline:none;
}

.botones{
    display:flex;
    flex-direction:column;
    gap: 2rem;
    width: 8rem ;
    justify-content:center; 
}


.boton-encriptar{
    font-size: 0.8rem;
    width: 70%;
}

.boton-copiar {
    
}

.boton-desencriptar{

}

.piepagina {
    background-color: var(--color-piepagina);

}


