

:root{
    --color-cuerpo:#333d29;
    --color-encabezado: #063150;
    --color-textoin:#414833;
    --color-textout:#fc341622;
    --color-piepagina:hsl(21, 35%, 13%);
    --color-texto:hwb(28 38% 31%);
    --color-hover:#7f4f24;
    --color-borde:#111503;
    --color-boton:#b6ad90;
    --color-fonts:#0d1100;
}

* {
    background-color: var(--color-cuerpo);
    padding:0;
    margin: 0;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height:140%;
    }

    ::placeholder{
        color: var(--color-fonts);
}

button:hover {
    background-color: var(--color-hover);
}

body{
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    gap: 70%;
    background-color: var(--color-encabezado);
    padding:0.5% 0% 0.5% 0.5%;
}

.logo--alura {
    height: 3.5rem;

    padding: 0.5rem ;
    background-color:transparent;
}

.logo--encrip{
    height: 4rem;
    background-color:transparent;
}   

.principal{
    height: 25rem;
 
 }

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.textos{
    display:flex;
    gap:7rem;
    Justify-Content:left;
    margin-bottom:1rem;
    margin-left:5rem;
}

.texto-ingreso{

    border:none;
    border-radius:2%;
    background-color: var(--color-textoin);
    color:#020d1b;
    text-transform:lowercase;   
}

.texto-ingreso:focus{
    outline:none;
}

.texto-encriptado{
    border:none;
    border-radius:2%;
    background-color: var(--color-textout);
   background-image: url("/assets/imagenBuscar.png");
    background-repeat: no-repeat;

.texto-encriptado:focus{
    outine:none;
}



}
.texto-encriptado:focus{
    outline:none;
}

.botones{
    display:flex;
    flex-direction:column;
    gap: 2rem;
    width: 8rem ;
    justify-content:center; 
}


.boton-encriptar{
    background-color: var(--color-boton);
    border:1px solid var(--color-borde);
    background-color: var(--color-boton);
    border:1px solid var(--color-borde);
    border-radius: 7%;
    color: var(--color-fonts);
    cursor:pointer;
    height:2rem;  
    width: 8rem;
    font-size:1rem;
}

.boton-copiar {
    background-color: var(--color-boton);
    border:1px solid var(--color-borde);
    background-color: var(--color-boton);
    border:1px solid var(--color-borde);
    border-radius: 7%;
    color: var(--color-fonts);
    cursor:pointer;
    height:2rem;  
    width: 8rem;
    font-size:1rem;
    
}

.boton-desencriptar{

    background-color: var(--color-boton);
    border:1px solid var(--color-borde);
    border-radius: 7%;
    color: var(--color-fonts);
    cursor:pointer;
    height:2rem;  
    width: 8rem;
    font-size:1rem;

}

.informacion{
    color: var(--color-fonts);
    padding-left:5rem;
    font-size:.5rem

}

.piepagina {
    background-color: var(--color-piepagina);
    padding: 1.5% 
    

}


